.footer {
  padding: 5rem 10rem;
  text-align: center;
  background-color: var(--color-secondary);
  color: #fff;

  @include displayflex(flex, center, center);
  flex-direction: column;
  gap: 5rem;

  @include respond(phone) {
    gap: 3.5rem;
  }

  .heading-3 {
    color: currentColor;
  }

  &__contact {
    @include displayflex(flex, center, center);
    gap: 2rem;
  }

  &__link {
    width: 4rem;
    height: 4rem;

    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      color: inherit;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__copyright {
    @include respond(phone) {
      font-size: 3rem;
    }
  }
}