@keyframes header1 {

  0%,
  50%,
  100% {
    width: 0;
  }

  60%,
  80% {
    width: 42rem;
  }
}

@keyframes header2 {

  0%,
  50%,
  100% {
    width: 0;
  }

  20%,
  40% {
    width: 55rem;
  }
}

@keyframes cursor {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }
}

@media only screen and (max-width: 37.5em) {
  @keyframes header1 {

    0%,
    50%,
    100% {
      width: 0;
    }

    60%,
    80% {
      width: 21rem;
    }
  }

  @keyframes header2 {

    0%,
    50%,
    100% {
      width: 0;
    }

    20%,
    40% {
      width: 28rem;
    }
  }
}